*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-weight: 500;
    color: #000;
}

/*---------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 952px;
    margin: 0px auto;
    box-sizing: content-box;
}

/* ------------------------------------------------------------------- */
.calc {
    width: 100%;
}

.calc__container {
    position: relative;
}

/* ------------------------------SCREEN------------------------------------- */

.calc__screen {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3em 3em;
    user-select: none;
}

.screen__input {
    font-size: 1em;
    white-space: nowrap;
    text-align: end;
    align-self: end;
}

.input__placeholder {
    font-size: 1em;
    color: rgb(128, 203, 196, 1);
    transition-duration: 0.1s;
}

.input__placeholder_blink {
    color: rgba(128, 203, 196, 0);
}

.input__main_green {
    color: green;
}

.screen__result {
    font-size: 0.625em;
    color: grey;
    text-align: end;
    align-self: center;
}

/* --------------------------------TOOLBAR----------------------------------- */

.calc__toolbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1em);
    border-bottom: 1px rgb(232, 232, 232) solid;
    justify-items: stretch;
    user-select: none;
    margin-bottom: 1em;
}

.calc__toolbar > div {
    display: grid;
    justify-items: center;
    align-items: center;
}

.calc__toolbar img {
    cursor: pointer;
    width: 40%;
}

.toolbar__delete {
    grid-column-start: 5;
    grid-column-end: 6;
}

/* ------------------------------BUTTONS------------------------------------- */
.calc__buttons {
    display: grid;
    grid-template-columns: repeat(4, 22.75%);
    grid-template-rows: repeat(5, 2em);
    column-gap: 3%;
    row-gap: 0.3em;
    align-items: stretch;
    justify-items: stretch;
}

.button__item {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(238, 238, 240);
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: font-size, filter;
}

.button__item:active {
    filter: brightness(90%);
    font-size: 0.7em;
}

.button__item_red {
    color: red;
}

.button__item_green {
    color: green;
}

.button__item_bold-green {
    color: green;
    font-weight: bold;
}

.button__item_unique-equal {
    color: white;
    background-color: rgb(66, 166, 16);
    font-weight: bold;
}

/*-------------------Invalid operation------------------------------------*/
.calc__invalid-operation {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 2.5em;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    width: 8em;
    height: 1.6em;
    background-color: rgba(92, 92, 92, 255);
    color: white;
    text-align: center;
    white-space: nowrap;
    border-radius: 1.1em 1.1em 1.1em 1.1em;
    visibility: hidden;
    transition-duration: 0.1s;
    opacity: 0;
}

.calc__invalid-operation_visible {
    visibility: visible;
    width: 9.1em;
    height: 2.35em;
    opacity: 0.95;
}
